
<%- include ('./head.ejs') %>


    
  <div class="registeraction" style="margin:100px 550px">
    <form action="" method="POST" class="form-control">
        <h1 class="text-center">Password Reset</h1>
        <% if(success_msg) {%>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong><%= success_msg%></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <% }%>
            <% if(message) {%>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong><%= message%></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                <% }%>
        <p class="mt-3" style="font-size: larger;">
            Enter your Email to search for your account
        </p>
        <div class="form-group mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="password" name="email" placeholder="Email">
        </div>
       
         <div class="from-group">
            <button type="reset" class="btn btn-light">Cancel</button>     <button type="submit" class="btn btn-primary btn-block">Search</button>
         </div>
        
    </form>
  </div>

<%- include ('./footer.ejs') %>