
<%- include ('./head.ejs') %>
    <div class="container m-5">
        <h1 class="mt-3 text-info text-center">Hello World Welcome Our Site</h1>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ipsa sunt, pariatur quibusdam molestias iste amet at, non quas rem, sed corporis nulla. Natus tenetur obcaecati optio amet illum quae!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, ratione illum, consequuntur asperiores blanditiis, nisi praesentium impedit neque quis nemo iusto quam eius quo! Corporis in enim ex officia ipsa.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem suscipit iure laborum enim consequuntur corporis rem recusandae ipsum? Id rerum quae reprehenderit dignissimos corrupti minus necessitatibus totam adipisci aspernatur quisquam.

</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate incidunt beatae repellat ullam sunt qui voluptates, blanditiis quo! Quaerat, nihil? Repellat molestias consectetur fuga ut ea odit inventore laborum explicabo.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eum recusandae perspiciatis quaerat repellendus quibusdam iste voluptate id vel dignissimos quia, eos officiis, ipsum eligendi sint molestias magni at fugit?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ullam quod dolor pariatur eum corrupti iure recusandae voluptates laudantium et, aspernatur quo cum nam inventore adipisci dicta impedit? Esse, necessitatibus.
</p>
    
<a href="/auth/register" class="btn btn-primary btn-lg mx-3">Register</a> <a href="/auth/login" class="btn btn-success btn-lg">Login</a>
    </div>

<%- include ('./footer.ejs') %>